*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body{

    background-image: url(img/bg-pattern-bottom-desktop.svg),url(img/bg-pattern-top-desktop.svg);
    background-position: bottom,top;
    background-repeat: no-repeat;

    min-height: 130vh;
}
header{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 40px;
    z-index: 5;
}
header.sticky{
    padding: 5px 100px;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, whitesmoke  0%, #2f4353 85%);
    z-index: 5;
}
header .logo{
    height: 80px;
    width: 250px;
    position: relative;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    text-align: right;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400px;
    transition: 0.6s;
}
header.sticky ul li a{
    color: #000;
}
#elegida{
    color: #4a6983 ;
    font-weight: 900;
}
header.sticky #elegida{
    color: #652292;
    font-weight: bolder;
}
.contenedor{
    margin: auto;
    margin: 6%  3% 7% 4%;
    background-size: cover;
    height: 80vh;
    width: 200vh;

    display: grid;
    grid-template-columns: repeat(2, 36em);
    grid-template-rows: auto;
}
.titulo{
    color: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    letter-spacing: 15px; 
    font-size: 3.8rem;
    font-weight: 100;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-self:right;
    grid-column: 1 / 3 ;
    grid-row: 1;  
}
caption {
    font-family: 'Rock Salt', cursive;
    width: 420px;
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    color: #666;
    text-align: right;
    letter-spacing: 1px;
    grid-column: 1 ;
    grid-row: 3;
}
#contTabla{
    width: 700px;
    padding: 0;
    overflow-y: auto;
    margin-top: 30px;
}
#contTabla::-webkit-scrollbar {
    display: none;
}
table{
    width: 400px;
    margin-left: 180px;
    border-collapse: collapse;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    grid-column: 1 ;
    grid-row: 2;
}
th{
    background-color: #39688f;
    border-style: solid ;
    letter-spacing: 3px;
}
tbody tr:nth-child(even) {
    background-color: whitesmoke;
}
td{
    letter-spacing: 2px;
    padding-top: 7px;
    padding-right: 20px;
    padding-left: 20px;
}
.contenedor #creacionParqueadero {
    grid-column: 2 ;
    grid-row: 2;

    border-radius: 0.6em;
    border: 2px double #2f4353;
    z-index: 1;
    border-radius: 1.5em;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    margin-left:40px;
    margin-top: 30px;
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
}
.estiloForm{
    grid-column: 2 ;
    border-radius: 0.6em;
    border: 2px double #2f4353;
    z-index: 1;
    border-radius: 1.5em;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    margin-left:40px;
    height: 420px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin-left: 180px;
    margin-bottom: 15px;

}
.contenedor #contrato{
    grid-column: 1 / 2;
    border-radius: 0.6em;
    border: 2px double #2f4353;
    z-index: 1;
    border-radius: 1.5em;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    margin-left:100px;
    margin-top: 30px;
    height: 500px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
}
input{
    border: 0.4px solid hsl(0, 6%, 24%);
    border-radius: 0.6em;
    border-bottom-style: double ;
    border-bottom: hsl(234, 56%, 17%);
    color: hsl(0, 36%, 70%);
    width: 57%;
    height: 40px;
    position: relative;
    margin-left: 90px;
    text-align: center;
}
label{
    margin-top: 8px;
    margin-left: 70px;
    font-weight: 400;
    height: 20px;
}
button{
    background: #2f4353;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    font-size: larger;
    color: #d2ccc4;
    max-height: 35px;
}

/* acordeon - pag inicial */
#contenedorIndex{
    width: 800px;
    height: 400px;
    z-index: 4;
    overflow-y: auto; 
    margin: auto;
    margin-top: 100px;
    background-color: hsl(240, 5%, 91%);
    border-radius: 2%;
    box-shadow: 0px 7px 20px 0.01px black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1;
    gap: 49px;
}
#contenedorIndex::-webkit-scrollbar {
    display: none;
}
#ImgAutos{
    position: absolute;
    top: 300px;
    left: 19px;
    z-index:3;
    width: 400px;
}
#contenedorIndex::-webkit-scrollbar {
    display: none;
}
#contenedorAcor{
    grid-column:2;
    height: 650px;
    width:800px;
    overflow: auto;
    position: relative;
    left: 140px;
    margin-top: 20px;
}
#contenedorAcor::-webkit-scrollbar {
    display: none;
}
.negrita{
    margin-left: 17px;
}
p{
    width: 470px;

    display: inline-block;
    font-weight: 400;
    margin-right: 0px;
    padding-right: 0%;
    margin-left:25px ;
}
#informacion{
    grid-column: 2;
    height: 500px;
    overflow: auto;
}
#informacion::-webkit-scrollbar {
    display: none;
}
#caja{
    z-index: 5;
    position: absolute;
    left: 138px;
    top: 232px;
    cursor: pointer;
}
#titulo{
    margin-top: 67px;
    margin-bottom: 15px;
    font-weight: bolder;
    font-stretch: extra-expanded;
    color: hsl(238, 29%, 16%);
}
.negrita:hover{
    color: hsl(14, 88%, 65%);
}

.opcion{
    cursor: pointer;
    margin-right: 300px;
    margin-left: 3px;
    height: 50px;
    border-bottom: solid hsl(240, 6%, 50%);
    padding-top: 23px;
}
.flecha{
    display: inline-block;
    z-index: 1;
    position: relative;
    left: 95%;
    cursor: pointer;
}
.seleccionado {
    margin-top: 10px;
    display: none;
    cursor: pointer;
    margin-right: 110px;
    height: fit-content;
    padding-bottom: 15px;
    width: 500px ;
}
.seleccionado p{
    margin-left: 15px;
}
.flecha:hover {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/*final acrdeon*/
/*Crear Area */

#creacionAreas{

    border-radius: 0.6em;
    border: 2px double #2f4353;
    z-index: 1;
    border-radius: 1.5em;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    margin-left:150px;
    margin-top: 10px;
    height: 275px;
    width: 400px;
    margin-top: 105px;

    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    gap: 35px;
    overflow-y:scroll;
}
#creacionAreas::-webkit-scrollbar {
    display: none;
}
#parqueaderoImagen{
    width: 400px;
    height: 400px;
    background-image: url("img/parqueaderoImagen.png"); 
    background-repeat: no-repeat;
    background-size: cover; 
    position:relative;
    top: 20px;

}
#contenedorArea{
    height: 700px;
}
.contenedorA{
    border-bottom-style:solid;
    height:205px;
}
/*Crear Area */
/*Crear contrato */

#creacionContrato{
    border-radius: 0.6em;
    border: 2px double #2f4353;
    z-index: 1;
    border-radius: 1.5em;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    margin-left:150px;
    margin-top: 107px;
    height: 520px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#encontrarParqueadero{
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 7px;
    margin-bottom: 15px;
    position: relative;
    left: 25px;
}
#creaCliente{
    grid-column: 1;
    grid-row: 2;
    border-right:solid;
    border-color: grey;
}
#creaVehiculo{
    grid-column: 2;
    grid-row: 2; 
    border-right:solid;
    border-color: grey;
}
#creaContrato{
    grid-column: 3;
    grid-row: 2;
}
#buttonCrearContrato{
    grid-column: 1/3;
    grid-row: 3;
    width: 1000px;
    position: relative;
    top: 20px;
    left: -3px;
}
/*Crear contrato */
/*Crear Servicio */
#creacionSevicio{
    border-radius: 0.6em;
    border: 2px double #2f4353;
    z-index: 1;
    border-radius: 1.5em;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    position: relative;
    top: -300px;
    height: 550px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 420px;
}
#buttonCrearServicio{
    grid-column: 1;
    grid-row: 4;
    width: 450px;
    position: relative;
    top: 10px;
    left: -3px;
}
#creacionSevicio #creaVehiculo{
    grid-column: 1;
    grid-row: 2; 
    height: 360px;
    border-right:solid;
    border-color: grey;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
}
#creacionSevicio #encontrarParqueadero{
    
    grid-column: 1;
    grid-row: 1;
    margin-top: 7px;
    margin-bottom: 15px;
    position: relative;
    left: 0px;
}
#creacionSevicio #creaContrato{
    grid-column: 1;
    grid-row: 3;
}
#identificadorServicio{
    position:relative;
    left: -90px;
    width: 56%;
    
}